body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(73, 71, 142, 1), rgba(18, 34, 58, 1));
  height: 100vh;
}

* {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.linea {
  margin: 0px 20px;
  width: 100px;
  border-top: 1px solid white;
  position: relative;
  top: 15px;
  float: left;
}

.leyenda {
  font-weight: bold;
  float: left;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
}

h1, p {
  color: white;
}

img, .logoImg {
  margin-top: 50px;
    margin-left: 20px;
}

.info-container {
  width: 450px;
margin-top: 50px;
margin-left: 50px;
}

#loginButton, #appleButton, #signUpButton {
  color: white;
    background-color: rgba(190, 108, 150, 1);
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
}