body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(73, 71, 142, 1), rgba(18, 34, 58, 1));
    height: 100vh;
  }
  
  * {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
  }
  
  .centered-header {
      display: flex;
      align-items: center;
  }
  
  .centered-header img {
      margin-right: 10px; 
  }
  
  .container {
    display: flex;
  }
  
  p,
  h1,
  li {
    color: white;
  }
  
  .menu-right {
    flex: 1;
    margin-left: 10px;
  }
  
  .user {
    margin-top: 30px;
    display: flex;
    align-items: center;
  }
  
  .bold li {
    margin-bottom: 10px;
  }
  .m-right {
    list-style: none;
    padding: 0;
  }
  
  .m-right li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .m-right li img {
    margin-right: 10px;
  }
  
  .text-container {
    margin-bottom: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .m-right li p {
    margin: 5px;
  }
  
  .top {
    margin-bottom: 20px;
  }
  
  .bold-p {
    font-weight: bold;
  }
  
  .logo {
    margin-top: 25px;
    width: 45px;
    height: 65px;
  }
  
  input {
    border-radius: 5px;
    border: none;
    width: 500px;
    height: 30px;
  }
  
 .save-btn {
    background-color: #be6c96;
    color: white;
    border: none;
    border-radius: 10px;
    width: 170px;
    height: 40px;
    margin-left: 180px;
    transition: background-color 0.3s ease;

  }

  .save-btn:hover {
    background-color: #8b4167;
  }

  @media all and (max-width: 730px) {
   
    input {
      width: 300px;
    }

    #save {
      margin-left: 80px;
    }
    }