body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(73, 71, 142, 1), rgba(18, 34, 58, 1));
  height: 100vh;
}

* {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.form {
    margin-top: 30px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

label,
input,
textarea {
  width: 300px;
  color: white;
}

button {
  margin-top: 20px;
  display: inline-block;
  width: 300px;
  height: 30px;
  background-color: rgba(190, 108, 150, 1);
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8b4167;
}

#back {
  position: absolute;
  top: 10px;
  left: 10px;
}
