body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(73, 71, 142, 1), rgba(18, 34, 58, 1));
    height: 100vh;
  }
  
  * {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
  }
  
  .container {
    display: flex;
}

  p, h1, li {
    color: white;
  }

nav {
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    color: white;
    display: inline;
    margin-right: 20px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.sidebar {
    position: sticky;
    top: 0;
    padding: 0 20px;
}

.menu-right {
    flex: 1;
    margin-left: 10px;
}
.sidebar nav {
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 250px;
}

.sidebar ul {
    color: white;
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    color: white;
    margin-bottom: 10px;
}

.sidebar ul li a {
    display: block; 
    text-decoration: none;
    color: white;
    padding: 5px 0; 
}

.user {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.user img {
    max-width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.tweet-button {
    background-color: #BE6C96;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.tweet-button:hover {
    background-color: #9b4d75;
}


.icon {
    margin-right: 5px;
    font-size: 18px;
}

.logo {
    width: 60px;
    height: 83px;
    margin-bottom: 20px;
}

.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .navbar li img {
    margin-right: 10px; 
  }
  
  .navbar li a {
    text-decoration: none;
    color: black; 
  }

.bold li {
    margin-bottom: 10px;
}
.m-right {
    list-style: none;
    padding: 0;
}

.m-right li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.m-right li img {
    margin-right: 10px; 
}

.text-container {
    margin-bottom: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.m-right li p {
    margin: 5px;
}

.top {
    margin-bottom: 20px;
}

.bold-p  {
    font-weight: bold;
}

.logo {
    margin-top: 25px;
    width: 45px;
    height: 65px;
}